*{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgb(78, 78, 37);
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 1fr);
}
.header, .footer{
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar{
    grid-row-start: 2;
    grid-row-end: 4;
}
.content1{
    grid-column-start: 2;
    grid-column-end: 4;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: rgb(235, 233, 233);
    background-color: rgb(118, 75, 149);
    border: 5px solid black;
}
