.navbar_container{
    background-color: rgb(39, 39, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-size: 32px;
    color: white;
}


.nav_items{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav_items li{
    cursor: pointer;
}